
/* Left content (text or any other element) */
.left-content {
  flex: 1; /* Occupies remaining space to push the right-content */
  font-size: 16px;
  font-weight: 500;
}

/* Right content (buttons) */
.right-content {
  display: flex; /* Align buttons horizontally */
  gap: 10px; /* Space between buttons */
  align-items: center; /* Vertically center buttons */
}

button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s;

  &:hover {
    background-color: #0056b3;
  }
}
.btn-primary {
  background-color: #563E7C;
  color: #fff;
}
.btn-secondary {
  background-color: #434343;
  color: #fff;
}