.subnav {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
  
    button {
      margin-left: 0.5rem;
      padding: 0.5rem 1rem;
      background-color: #007bff;
      color: white;
      border: none;
      cursor: pointer;
  
      &:hover {
        background-color: #0056b3;
      }
    }
  }
  .custom-dialog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0; /* Remove extra padding */
    background-color: transparent; /* Make dialog background transparent */
  }
  
  .user-form {
    max-width: 600px; /* Adjust the form width */
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #ffffff; /* Form background */
    font-family: 'Roboto', Arial, sans-serif;
    padding: 30px; /* Add padding inside the form */
  }
  