<div class="pagination-container">
  <!-- Previous Button -->
  <button
    mat-button
    [disabled]="currentPage === 1"
    (click)="onPageChange(currentPage - 1)"
  >
    Previous
  </button>

  <!-- Page Numbers -->
  <div class="page-numbers">
    <button
      *ngFor="let page of pageNumbers"
      mat-button
      [class.active]="isPageActive(page)"
      (click)="onPageChange(page)"
    >
      {{ page }}
    </button>
  </div>

  <!-- Next Button -->
  <button
    mat-button
    [disabled]="currentPage === totalPages"
    (click)="onPageChange(currentPage + 1)"
  >
    Next
  </button>
</div>
