nav {
  height: 60px;
  background-color: #fff; /* Light red */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
  color: #434343;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
