<div class="user-list-container">
  <!-- Header Section -->
  <div class="header-section">
    <h2>{{'User'| translate}} List</h2>
    <p>{{'Total Users'| translate }} {{ users.length }}</p>
  </div>

  <!-- User List -->
  <ng-container *ngIf="users.length > 0; else noUsers">
    <table cdk-table [dataSource]="paginatedUsers" class="custom-table table-hovered table-striped">
      <!-- Full Name Column -->
      <ng-container cdkColumnDef="fullName">
        <th cdk-header-cell *cdkHeaderCellDef> Full Name </th>
        <td cdk-cell *cdkCellDef="let user"> {{ user.firstName }} {{ user.lastName }} </td>
      </ng-container>

      <!-- Age Column -->
      <ng-container cdkColumnDef="age">
        <th cdk-header-cell *cdkHeaderCellDef> Age </th>
        <td cdk-cell *cdkCellDef="let user"> {{ user.age }} </td>
      </ng-container>

      <!-- Gender Column -->
      <ng-container cdkColumnDef="gender">
        <th cdk-header-cell *cdkHeaderCellDef> Gender </th>
        <td cdk-cell *cdkCellDef="let user"> {{ user.gender }} </td>
      </ng-container>

      <!-- Email Column -->
      <ng-container cdkColumnDef="email">
        <th cdk-header-cell *cdkHeaderCellDef> Email </th>
        <td cdk-cell *cdkCellDef="let user"> {{ user.email }} </td>

      </ng-container>

      <ng-container cdkColumnDef="birthDate">
        <th cdk-header-cell *cdkHeaderCellDef> DOB </th>
        <td cdk-cell *cdkCellDef="let user"> {{ formatDate(user.birthDate) }} </td>
      </ng-container>


      <!-- Actions Column -->
      <ng-container cdkColumnDef="actions">
        <th cdk-header-cell *cdkHeaderCellDef> Actions </th>
        <td cdk-cell *cdkCellDef="let user">

          <!--uiConfirm  use the confirmation directive here-->
          <button mat-raised-button color="warn" [title]="'Delete User'" [requireInput]="true"
            [expectedInput]="user.firstName + ' ' + user.lastName"
            [message]="'Are you sure you want to delete user: ' + user.firstName + ' ' + user.lastName + '?'"
            (uiConfirm)="onActionButtonClick({ label: 'Delete', action: 'delete' }, user, $event)"> Delete</button>


          <!-- Edit Button -->
          <button mat-raised-button color="accent"
            (click)="onActionButtonClick({ label: 'Edit', action: 'edit' }, user)">
            Edit
          </button>

          <!-- View Details Button -->
          <button mat-raised-button color="primary"
            (click)="onActionButtonClick({ label: 'View Details', action: 'viewDetails' }, user)">
            View Details
          </button>

          <!-- Dropdown Button  use the dropdown directive here-->
          <button mat-icon-button [appDropdownMenu]="dropdownItems" (menuSelect)="onDropdownAction($event, user)">
            <mat-icon>more_vert</mat-icon>
          </button>


        </td>
      </ng-container>


      <!-- Header and Row Definitions -->
      <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </ng-container>

  <!-- Pagination Component -->
  <app-pagination [totalItems]="users.length" [itemsPerPage]="itemsPerPage" [currentPage]="currentPage"
    (pageChange)="onPageChange($event)"></app-pagination>
  <!-- No Users Template -->
  <ng-template #noUsers>
    <div class="no-users">No users found.</div>
  </ng-template>
</div>