/* General layout container */
.layout-container {
  display: flex;
  height: calc(100vh - 60px); /* Full height minus the navbar height */
}

/* Sidebar styles */
app-sidebar {
  width: 250px;
  background-color: #563E7C; /* Light blue */
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 0; /* Optional padding */
}

/* Main content container */
.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

/* Sub-navbar styles */
app-sub-navbar {
  height: 60px;
  background-color: whitesmoke; /* Light yellow */
  display: flex;
  align-items: center;
  justify-content: space-between; /* Align contextual menu to the right */
  padding: 0 20px;
  border-bottom: 1px solid #dee2e6;
}

/* Content area styles */
.content {
  flex: 1;
  padding: 20px;
  background-color: #F0F0F2; /* Light purple */
  overflow-y: auto;
}
